<%- include('partials/head', { title: 'Blog Press' }) %>
<%- include('partials/home-navbar') %>

<div class="container">
  <div class="card w-full mb-3 mt-3">
    <div class="card-body">
      <h5 class="card-title">BlogPress</h5>
      <p class="card-text">Este é um simple blog, que usa a biblioteca de classe CSS para o visual.</p>
      <p class="card-text">O intuito é não perder tempo com visual para aprender melhor como trabalhar com o Node, Express e Sequelize.</p>
      <hr>
      <a href="#" class="btn btn-primary">Leia Mais</a>
    </div>
  </div>
  <hr>
  <% articles.forEach(article => { %>
    <div class="card mt-3">
      <div class="card-header">
        <%= article.title %>
      </div>
      <div class="card-body">
        <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
      </div>
    </div>
  <% }); %>
  <div class="row">
    <div class="col-12 mt-3" style="text-align: center;">
      <a href="/articles/page/1">Ver todos os artigos</a>
    </div>
  </div>
  <hr>
</div>

<%- include('partials/foot.ejs') %>